In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
frame = pd.read_csv('/content/Time_series_analysis_and_forecast_DATASET.csv.xls')

In [48]:
frame.head()

              FullDate  Tmax   SysLoad  GasPrice  ElecPrice
0  2010-09-01 00:00:00  15.8  1688.215      3.69     23.710
1  2010-09-01 01:00:00  15.8  1669.195      3.69     22.635
2  2010-09-01 02:00:00  15.8  1491.980      3.69     22.565
3  2010-09-01 03:00:00  15.8  1330.760      3.69     18.910
4  2010-09-01 04:00:00  15.8  1247.940      3.69     18.030

In [49]:
Frame=frame.iloc[:,[0,4]]
Frame

                  FullDate  ElecPrice
0      2010-09-01 00:00:00     23.710
1      2010-09-01 01:00:00     22.635
2      2010-09-01 02:00:00     22.565
3      2010-09-01 03:00:00     18.910
4      2010-09-01 04:00:00     18.030
...                    ...        ...
92011  2021-02-28 19:00:00    117.925
92012  2021-02-28 20:00:00     87.880
92013  2021-02-28 21:00:00     62.060
92014  2021-02-28 22:00:00     62.000
92015  2021-02-28 23:00:00     62.955

[92016 rows x 2 columns]

In [50]:
Frame.iloc[0:20866,:]

                  FullDate  ElecPrice
0      2010-09-01 00:00:00     23.710
1      2010-09-01 01:00:00     22.635
2      2010-09-01 02:00:00     22.565
3      2010-09-01 03:00:00     18.910
4      2010-09-01 04:00:00     18.030
...                    ...        ...
20861  2013-01-17 05:00:00     45.140
20862  2013-01-17 06:00:00     44.595
20863  2013-01-17 07:00:00     45.540
20864  2013-01-17 08:00:00     47.515
20865  2013-01-17 09:00:00     50.870

[20866 rows x 2 columns]

In [51]:
Frame.rename(columns = {'FullDate':'ds'}, inplace = True)
Frame.rename(columns = {'ElecPrice':'y'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [52]:
Frame.iloc[0:20866,:]

                        ds       y
0      2010-09-01 00:00:00  23.710
1      2010-09-01 01:00:00  22.635
2      2010-09-01 02:00:00  22.565
3      2010-09-01 03:00:00  18.910
4      2010-09-01 04:00:00  18.030
...                    ...     ...
20861  2013-01-17 05:00:00  45.140
20862  2013-01-17 06:00:00  44.595
20863  2013-01-17 07:00:00  45.540
20864  2013-01-17 08:00:00  47.515
20865  2013-01-17 09:00:00  50.870

[20866 rows x 2 columns]

In [53]:
DFa=Frame['ds'].str[:11]

In [54]:
data=pd.DataFrame(DFa)
data

                ds
0      2010-09-01
1      2010-09-01
2      2010-09-01
3      2010-09-01
4      2010-09-01
...            ...
92011  2021-02-28
92012  2021-02-28
92013  2021-02-28
92014  2021-02-28
92015  2021-02-28

[92016 rows x 1 columns]

In [55]:
DFa['ds']=data['ds'].values

In [56]:
DFa['ds']

array(['2010-09-01 ', '2010-09-01 ', '2010-09-01 ', ..., '2021-02-28 ',
       '2021-02-28 ', '2021-02-28 '], dtype=object)

In [57]:
DFa

0                                              2010-09-01
1                                              2010-09-01
2                                              2010-09-01
3                                              2010-09-01
4                                              2010-09-01
                               ...
92012                                          2021-02-28
92013                                          2021-02-28
92014                                          2021-02-28
92015                                          2021-02-28
ds       [2010-09-01 , 2010-09-01 , 2010-09-01 , 2010-0...
Name: ds, Length: 92017, dtype: object

In [ ]:
ds1=DFa.iloc[0:2080,:]

In [ ]:
ds1

In [ ]:
display(ds1.iloc[2757])

In [ ]:
traindata_=ds1.iloc[:2757,:]
testdata=ds1.iloc[2757:,:]

In [ ]:
traindata_

In [ ]:
traindata_

In [ ]:
from datetime import datetime

traindata_['ds'] = pd.to_datetime(traindata_.ds)

traindata_.set_index('ds', inplace = True)

In [ ]:
traindata_

In [ ]:
train_da = traindata_.resample('D').sum()

In [ ]:
train_da

In [ ]:
from prophet import Prophet

In [ ]:
model = Prophet()

In [ ]:
model.fit(traindata_)

In [ ]:
future = model.make_future_dataframe(periods=20, freq='D')

In [ ]:
fore_cast = model.predict(future)

In [ ]:
fore_cast.head(10)

In [ ]:
fore_cast[['ds', 'yhat', 'yhat_upper','yhat_lower' , 'trend',  'trend_upper','trend_lower']]

In [ ]:
model.plot(fore_cast)
plt.show()

In [ ]:
import numpy as np

def mape(actual, pred): 
    actual, pred = np.array(actual), np.array(pred)
    return np.mean(np.abs((actual - pred) / actual)) * 100

In [ ]:
actual = testdata
pred = fore_cast['yhat'][:2757]

mape(actual, pred)

In [ ]:
plt.plot(train_da.index,train_da.y)

In [ ]:
plt.grid()